<header class="real-nav">
  <div class="container">
    <a href="./" class="brand">Łukasz Kmiecik</a>
    <nav class="nav-links">
      <div class="dropdown">
        <button class="dropbtn" data-i18n="nav.projects">Projekty <span>▾</span></button>
        <div class="dropdown-content">
          <a href="./?cat=instalacje" data-cat="instalacje" data-i18n="filters.installations">Instalacje</a>
          <a href="./?cat=architektura" data-cat="architektura" data-i18n="filters.architecture">Architektura</a>
          <a href="./?cat=mechanika" data-cat="mechanika" data-i18n="filters.mechanics">Mechanika</a>
          <a href="./?cat=produkt" data-cat="produkt" data-i18n="filters.product">Produkt</a>
          <a href="./?cat=inne" data-cat="inne" data-i18n="filters.other">Inne</a>
          <a href="./" data-i18n="filters.all">Wszystkie</a>
        </div>
      </div>
      <a href="./about.html" data-i18n="nav.about">O mnie</a>
      <a href="./admin.html" data-i18n="nav.stats">Statystyki</a>
      <a class="cta" href="mailto:kontakt@twojadomena.pl" data-i18n="nav.contact">Kontakt</a>
    </nav>
  </div>
</header>

